# Virtual environment
venv/

# Database files
*.sqlite

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Logs
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Dependency directories
node_modules/
bower_components/

# Compiled files
dist/
build/
*.exe
*.dll
*.so
*.dylib

# Miscellaneous
.DS_Store
Thumbs.db